{% extends 'base.html' %}
{% block title %}
详情
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/detial.css') }}">
{% endblock %}
{% block main %}
    <h3 class="page-title">{{ question.title }}</h3>
    <p class="question-info">
        <span>作者：{{ question.author.username }}</span>
        <span>时间：{{ question.create_time }}</span>
    </p>
    <hr>
    <p class="question-content">{{ question.content }}</p>
    <hr>
    <div class="form-container">
    <h4>评论：（0）：</h4>
    <form action="{{ url_for('add_answer') }}" method="post">

        <div class="form-group">
            <input type="text" class="form-control"  name="answer_content"placeholder="请填写评论">
        </div>
        <div class="form-group" style="text-align: right;">
            <input type="hidden" name="question_id" value="{{ question.id }}">
            <button class="btn btn-primary">立即评论</button>
        </div>
    </div>
    <ul class="answer-list">
        {% for answer in question.answers %}
            <li>
                <div class="user-info">
                    <img class="avatar" src="{{ url_for('static',filename='images/logo.jpg') }}">
                    <span class="username">{{ answer.author.username }}</span>
                    <span class="create-time">2018:06:30</span>
                </div>
                <p class="answer-content">{{ answer.content }}</p>
                {% endfor %}
            </li>
    </ul>



    </form>
{% endblock %}